li {
    font-size: 40px;
    list-style-type: none;
    color: #283c64;
}

#car_name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #b24e4e;
    font-size: 25px;
    list-style-type: none;
}